<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <form name="dForm" role="form" ng-controller="CompraSaveCtrl">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="media/img/list/60.jpeg" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-headline">Compra</span>
                            <span class="md-subhead">Trabajar con compras</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>trabajador</label>
                                <input name="trabajador" ng-model="compra.trabajador" required>
                                <div ng-messages="dForm.trabajador.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>distribuidor</label>
                                <input name="distribuidor" ng-model="compra.adistribuidor" required>
                                <div ng-messages="dForm.distribuidor.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>marca</label>
                                <input name="marca" ng-model="marca.nombre" required>
                                <div ng-messages="dForm.marca.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>fecha</label>
                                <input name="fecha" ng-model="compra.fecha" required>
                                <div ng-messages="dForm.fecha.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>producto</label>
                                <input name="producto" ng-model="producto.producto" required>
                                <div ng-messages="dForm.producto.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>cantidad</label>
                                <input name="cantidad" ng-model="compra.cantidad" required>
                                <div ng-messages="dForm.cantidad.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                       
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="toggle">
                                <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">Cancel</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="compra.id == null">Create</span>
                            <span ng-show="compra.id">Update</span>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </md-content>
</div>
