<div class="amber-200 bg-big">
  <div class="text-center">
    <h1 class="text-shadow no-margin text-green text-10x p-v-8g">
      <span class="text-2x font-bold m-t-lg block">404</span>
    </h1>
    <h2 class="h1 m-v-lg text-green">OOPS!</h2>
    <p class="h4 m-v-lg text-u-c font-bold text-green">LO SENTIMOS ESTA PAGINA NO SE PUEDE VISUALIZAR</p>
    <div class="p-v-lg">
      <a ui-sref="app.dashboard" md-ink-ripple class="md-btn indigo md-raised p-h-lg">
        <span class="text-white">Go to the home page</span>
      </a>
    </div>
  </div>
</div>
